{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tempore eaque eligendi 
                reiciendis quis enim vitae corporis. Exercitationem vero, aperiam eos vitae, odio libero, 
                repudiandae deserunt laborum accusantium aliquam recusandae?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor nam a laboriosam 
                itaque voluptates nulla doloremque dicta quod ut fuga aperiam, dolore doloribus 
                facere odio possimus consequatur ipsa labore sapiente!</p>            
        </div>
    </div>
</div>
{% endblock content %}