{% extends 'customer/base.html' %}

{% block content %}

<h2>Recipes in {{ category.name }}</h2>

<div class="card-deck">
    {% for recipe in recipes %}
    <div class="card">
        <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">{{ recipe.ingredients }}</p>
            <p class="card-text">{{ recipe.how_to_make }}</p>
            <p class="card-text">{{ recipe.required_time }}</p>
        </div>
    </div>
    {% empty %}
    <p>No recipes found in this category.</p>
    {% endfor %}
</div>

<!-- Pagination Controls -->
<div class="pagination mt-4 text-center">
  <div class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <div class="my-3">
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
      </div>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </div>
</div>

{% endblock content %}
